.box{
    width:100% ;
    height: 300px;
    background-color:coral;
    border-radius: 1px;
}
.heading{
    color: cornflowerblue;
    font-size:700;
    font-weight: 900;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
}